include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include sales_partner_ig_commission *.css
recursive-include sales_partner_ig_commission *.csv
recursive-include sales_partner_ig_commission *.html
recursive-include sales_partner_ig_commission *.ico
recursive-include sales_partner_ig_commission *.js
recursive-include sales_partner_ig_commission *.json
recursive-include sales_partner_ig_commission *.md
recursive-include sales_partner_ig_commission *.png
recursive-include sales_partner_ig_commission *.py
recursive-include sales_partner_ig_commission *.svg
recursive-include sales_partner_ig_commission *.txt
recursive-exclude sales_partner_ig_commission *.pyc